In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import yfinance as yf
import pylab
from datetime import datetime
from itertools import combinations
import warnings
warnings.filterwarnings("ignore")
import os
import sys
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
if project_root not in sys.path:
    sys.path.append(project_root)

from src.fetcher import DataCollector

In [2]:
collector = DataCollector(start="2000-01-01")
data = collector.run_full_collection()

=== Starting Data Collection ===

Downloading asset prices...
Downloading 13 assets from 2000-01-01 to 2026-01-02

[*********************100%***********************]  13 of 13 completed

Downloaded data for 13 assets with 6539 records each.

Downloading macro indicators...
Downloaded 9 macroeconomic data with 6872 records.

Preprocessing data...

In [4]:
data["macro"].tail()

,GDP,UNRATE,CPIAUCSL,FEDFUNDS,DGS10,DCOILWTICO,INDPRO,UMCSENT,VIXCLS
Date,,,,,,,,,
2025-12-24,31095.089,4.3,323.364,4.09,4.15,58.72,101.616,53.6,13.47
2025-12-26,31095.089,4.3,323.364,4.09,4.14,56.60,101.616,53.6,13.60
2025-12-29,31095.089,4.3,323.364,4.09,4.12,57.89,101.616,53.6,14.20
2025-12-30,31095.089,4.3,323.364,4.09,4.14,57.89,101.616,53.6,14.33
2025-12-31,31095.089,4.3,323.364,4.09,4.14,57.89,101.616,53.6,14.33

In [5]:
data["macro"].isnull().sum()/len(data["macro"])

GDP           0.0
UNRATE        0.0
CPIAUCSL      0.0
FEDFUNDS      0.0
DGS10         0.0
DCOILWTICO    0.0
INDPRO        0.0
UMCSENT       0.0
VIXCLS        0.0
dtype: float64

In [6]:
df = data["macro"]
df["month-year"] = df.index.to_period("M")
df["qtr-year"] = df.index.to_period("Q")
df["bi-annual-year"] = df.index.to_period("2Q")
df["year"] = df.index.to_period("Y")

In [7]:
df.head()

,GDP,UNRATE,CPIAUCSL,FEDFUNDS,DGS10,DCOILWTICO,INDPRO,UMCSENT,VIXCLS,month-year,qtr-year,bi-annual-year,year
Date,,,,,,,,,,,,,
2000-01-03,10660.465,4.1,170.0,5.73,6.58,25.56,91.8239,111.3,24.21,2000-01,2000Q1,2000Q1,2000
2000-01-04,10660.465,4.1,170.0,5.73,6.49,25.56,91.8239,111.3,27.01,2000-01,2000Q1,2000Q1,2000
2000-01-05,10660.465,4.1,170.0,5.73,6.62,24.65,91.8239,111.3,26.41,2000-01,2000Q1,2000Q1,2000
2000-01-06,10660.465,4.1,170.0,5.73,6.57,24.79,91.8239,111.3,25.73,2000-01,2000Q1,2000Q1,2000
2000-01-07,10660.465,4.1,170.0,5.73,6.52,24.79,91.8239,111.3,21.72,2000-01,2000Q1,2000Q1,2000

In [8]:
df_monthly = df.groupby(["month-year"]).mean()
df_qtrly = df.groupby(["qtr-year"]).mean()
df_biannually = df.groupby(["bi-annual-year"]).mean()
df_yearly = df.groupby(["year"]).mean()

In [9]:
df_monthly.nunique()/len(df_monthly)

GDP               0.227564
UNRATE            0.195513
CPIAUCSL          0.685897
FEDFUNDS          0.394231
DGS10             0.993590
DCOILWTICO        1.000000
INDPRO            0.708333
UMCSENT           0.525641
VIXCLS            0.993590
qtr-year          0.333333
bi-annual-year    0.333333
year              0.083333
dtype: float64

In [10]:
df_qtrly.nunique()/len(df_qtrly)

GDP               0.519231
UNRATE            0.942308
CPIAUCSL          1.000000
FEDFUNDS          0.903846
DGS10             1.000000
DCOILWTICO        1.000000
INDPRO            1.000000
UMCSENT           1.000000
VIXCLS            1.000000
month-year        1.000000
bi-annual-year    1.000000
year              0.250000
dtype: float64

In [11]:
df_biannually.nunique()/len(df_biannually)

GDP           0.519231
UNRATE        0.942308
CPIAUCSL      1.000000
FEDFUNDS      0.903846
DGS10         1.000000
DCOILWTICO    1.000000
INDPRO        1.000000
UMCSENT       1.000000
VIXCLS        1.000000
month-year    1.000000
qtr-year      1.000000
year          0.250000
dtype: float64

In [37]:
df_yearly.nunique()/len(df_yearly)

GDP               0.961538
UNRATE            1.000000
CPIAUCSL          1.000000
FEDFUNDS          1.000000
DGS10             1.000000
DCOILWTICO        1.000000
INDPRO            1.000000
UMCSENT           1.000000
VIXCLS            1.000000
month-year        1.000000
qtr-year          1.000000
bi-annual-year    1.000000
dtype: float64

In [38]:
df_yearly

,GDP,UNRATE,CPIAUCSL,FEDFUNDS,DGS10,DCOILWTICO,INDPRO,UMCSENT,VIXCLS,month-year,qtr-year,bi-annual-year
year,,,,,,,,,,,,
2000,10660.465000,3.992063,172.199603,6.250595,6.029444,30.367579,92.538752,107.283730,23.315000,2000-06,2000Q2,2000Q2
2001,10660.465000,4.675403,176.912500,4.043347,5.019274,25.887097,89.901336,90.173387,25.749677,2001-06,2001Q2,2001Q2
2002,10902.125444,5.758730,179.814286,1.705873,4.606944,26.190198,89.968779,89.041270,27.292460,2002-06,2002Q2,2002Q2
2003,11433.101044,6.000397,183.482937,1.153095,4.016865,31.079881,91.089392,88.734921,21.982857,2003-06,2003Q2,2003Q2
2004,12183.152310,5.557540,188.710714,1.336706,4.270754,41.507976,93.482965,94.569841,15.480397,2004-06,2004Q2,2004Q2
2005,12937.799889,5.095238,195.288492,3.181429,4.290159,56.644048,96.616181,88.915476,12.807063,2005-06,2005Q2,2005Q2
2006,13142.642000,4.623904,201.399203,4.923705,4.794622,66.051116,98.979297,86.685259,12.806534,2006-06,2006Q2,2006Q2
2007,13543.576757,4.550996,207.149028,5.044104,4.632430,72.386693,101.543151,84.821912,17.535936,2007-06,2007Q2,2007Q2
2008,14772.666854,5.726877,215.210798,2.052530,3.665771,99.671502,98.592055,63.449407,32.694862,2008-06,2008Q2,2008Q2
2009,14521.932544,9.061111,214.243246,0.154127,3.265595,61.950437,87.529336,67.089286,31.479008,2009-06,2009Q2,2009Q2
2010,15025.188619,9.627778,218.060520,0.175635,3.206667,79.475714,91.573732,71.479365,22.548889,2010-06,2010Q2,2010Q2
2011,15541.935337,8.973810,224.828369,0.103770,2.775992,94.880873,94.609649,66.713492,24.202579,2011-06,2011Q2,2011Q2
2012,15839.319272,8.099600,229.411164,0.137920,1.801640,94.121080,97.407650,76.677200,17.798880,2012-06,2012Q2,2012Q2
2013,16830.142683,7.348016,232.810123,0.109603,2.353214,97.982540,99.391800,79.746032,14.230119,2013-06,2013Q2,2013Q2
2014,17611.995282,6.233730,236.366524,0.090198,2.538016,93.172222,102.196069,82.383333,14.175992,2014-06,2014Q2,2014Q2
2015,18261.174774,5.286508,237.218079,0.134722,2.140079,48.656706,101.360807,92.473810,16.674127,2015-06,2015Q2,2015Q2
2016,18735.942214,4.925000,239.945861,0.387817,1.838254,43.293651,98.767969,91.738889,15.825635,2016-06,2016Q2,2016Q2
2017,18892.639000,4.364940,244.995199,0.978327,2.329641,50.781275,99.863838,96.401594,11.090239,2017-06,2017Q2,2017Q2
2018,19400.963159,3.914741,250.895347,1.793347,2.913625,65.075458,103.055101,98.229482,16.639841,2018-06,2018Q2,2018Q2
2019,21498.749258,3.665476,255.589036,2.148849,2.139087,56.988730,102.435515,96.186508,15.387857,2019-06,2019Q2,2019Q2
2020,21422.505909,8.219763,258.512233,0.440435,0.889170,39.185810,95.488599,81.780632,29.251304,2020-06,2020Q2,2020Q2
2021,23595.602167,5.415476,270.844718,0.081627,1.446865,68.175516,99.231958,79.131746,19.656151,2021-06,2021Q2,2021Q2
2022,25842.844271,3.631474,292.220135,1.620916,2.957769,94.902869,101.028931,59.645020,25.623904,2022-06,2022Q2,2022Q2
2023,26336.304000,3.642400,304.438520,4.994840,3.964560,77.592600,100.672425,64.505600,16.870040,2023-06,2023Q2,2023Q2
2024,28731.493889,4.051190,313.473976,5.172103,4.207817,76.606587,100.177012,71.425000,15.607579,2024-06,2024Q2,2024Q2
2025,30317.078702,4.238723,320.725485,4.359106,4.298681,65.863149,100.754626,59.457872,19.203872,2025-06,2025Q2,2025Q2

In [15]:
df_biannually.tail(50)

,GDP,UNRATE,CPIAUCSL,FEDFUNDS,DGS10,DCOILWTICO,INDPRO,UMCSENT,VIXCLS,month-year,qtr-year,year
bi-annual-year,,,,,,,,,,,,
2013Q3,16953.838,7.234375,233.264875,0.083437,2.706562,105.830469,99.457366,83.131250,14.279687,2013-07,2013Q3,2013
2013Q4,17192.019,7.007812,233.945109,0.083594,2.743906,97.496719,100.231778,74.417187,14.232812,2013-10,2013Q4,2013
2014Q1,17192.019,6.900000,234.100000,0.080000,2.765410,98.678197,100.315800,75.100000,14.828852,2014-02,2014Q1,2014
2014Q2,17518.508,6.266667,236.768000,0.090000,2.620952,103.346825,102.253333,82.633333,12.738254,2014-05,2014Q2,2014
2014Q3,17804.228,6.134375,237.473062,0.090000,2.499531,97.869687,102.835625,82.259375,13.072656,2014-07,2014Q3,2014
2014Q4,17912.079,5.665625,237.025063,0.100312,2.278125,73.211250,103.292275,89.203125,16.072344,2014-10,2014Q4,2014
2015Q1,17912.079,5.600000,236.252000,0.120000,1.968852,48.485246,103.704400,93.600000,16.564754,2015-02,2015Q1,2015
2015Q2,18279.784,5.428571,236.970413,0.123492,2.169365,57.854603,100.926563,94.319048,13.740159,2015-05,2015Q2,2015
2015Q3,18401.626,5.134375,237.858125,0.133281,2.223125,46.486094,101.069205,91.164062,19.307344,2015-07,2015Q3,2015
2015Q4,18435.137,5.000000,237.742625,0.161250,2.191406,41.936563,99.846131,90.893750,17.033281,2015-11,2015Q4,2015
2016Q1,18435.137,4.967213,237.736705,0.329180,1.914262,33.351803,98.778582,91.727869,20.486230,2016-02,2016Q1,2016
2016Q2,18711.702,5.031250,239.414812,0.373437,1.750156,45.460625,98.725013,90.546875,15.675937,2016-05,2016Q2,2016
2016Q3,18892.639,4.901562,240.613297,0.396875,1.564375,44.851875,98.862402,90.321875,13.233906,2016-08,2016Q3,2016
2016Q4,18892.639,4.800000,241.946333,0.450000,2.132381,49.135556,98.705400,94.400000,14.097937,2016-11,2016Q4,2016
2017Q1,18892.639,4.558065,243.522097,0.669516,2.446613,51.621290,98.817266,97.135484,11.691935,2017-02,2017Q1,2017
2017Q2,18892.639,4.365079,244.025746,0.919206,2.260952,48.103810,99.872922,96.306349,11.426349,2017-05,2017Q2,2017
2017Q3,18892.639,4.336508,245.256651,1.118730,2.241429,48.147460,99.932976,95.688889,10.944286,2017-08,2017Q3,2017
2017Q4,18892.639,4.203175,247.152921,1.200952,2.371429,55.265873,100.815575,96.487302,10.307937,2017-10,2017Q4,2017
2018Q1,18892.639,4.065574,248.952016,1.409672,2.758525,62.905738,101.795977,98.977049,17.354754,2018-02,2018Q1,2018
2018Q2,18892.639,3.931250,250.467484,1.677031,2.920625,68.065469,102.599242,99.181250,15.337500,2018-05,2018Q2,2018
2018Q3,18892.639,3.866667,251.448000,1.880000,2.923810,69.687302,103.754467,96.866667,12.856825,2018-07,2018Q3,2018
2018Q4,20917.867,3.800000,252.658984,2.196349,3.046508,59.526984,104.037981,97.901587,21.053651,2018-10,2018Q4,2018
2019Q1,20917.867,3.800000,253.399213,2.334590,2.652951,54.823115,103.274175,96.657377,16.470000,2019-02,2019Q1,2019
2019Q2,21397.938,3.633333,255.275000,2.400000,2.338889,59.880159,102.352667,99.066667,15.183016,2019-04,2019Q2,2019
2019Q3,21717.171,3.634375,255.955562,2.222812,1.797969,56.347656,102.398994,92.756250,15.960156,2019-07,2019Q3,2019
2019Q4,21933.217,3.600000,257.618812,1.650625,1.793750,56.847656,101.754242,96.332813,13.985781,2019-10,2019Q4,2019
2020Q1,21933.217,3.600000,257.879000,1.550000,1.365000,45.335161,101.937200,96.800000,31.224516,2020-02,2020Q1,2020
2020Q2,19958.291,12.965079,256.311683,0.060476,0.687619,27.960476,87.461313,74.158730,34.493651,2020-05,2020Q2,2020
2020Q3,21704.437,9.412500,258.891766,0.090000,0.650625,40.891719,95.334464,75.092188,25.808906,2020-07,2020Q3,2020
2020Q4,22087.160,6.831250,260.912313,0.090000,0.865156,42.572656,97.297512,81.421875,25.621719,2020-11,2020Q4,2020
2021Q1,22087.160,6.318033,263.577426,0.079344,1.335902,58.093443,97.515556,81.068852,23.202459,2021-02,2021Q1,2021
2021Q2,23425.910,6.030159,268.051508,0.073492,1.588730,66.186667,98.991716,87.322222,18.000000,2021-05,2021Q2,2021
2021Q3,23982.379,5.170313,272.613703,0.093438,1.324844,70.575469,99.794494,78.443750,18.287344,2021-08,2021Q3,2021
2021Q4,24813.600,4.195312,278.751937,0.080000,1.535000,77.342812,100.541855,69.910938,19.275156,2021-11,2021Q4,2021
2022Q1,24813.600,3.795161,284.416710,0.124516,1.951129,95.180323,100.947737,64.054839,25.372903,2022-02,2022Q1,2022
2022Q2,25861.292,3.666129,290.780226,0.628065,2.932581,108.834355,101.297065,60.051613,27.353710,2022-05,2022Q2,2022
2022Q3,26336.304,3.535938,295.505734,2.202344,3.101094,93.064063,101.200042,56.237500,24.731250,2022-08,2022Q3,2022
2022Q4,26336.304,3.533333,297.979000,3.480000,3.827619,82.787460,100.671133,58.366667,25.075397,2022-11,2022Q4,2022
2023Q1,26336.304,3.530645,300.677306,4.448065,3.646290,75.930161,100.499837,62.791935,20.694516,2023-02,2023Q1,2023
2023Q2,26336.304,3.569355,303.068516,4.941129,3.599032,73.538871,100.682747,61.680645,16.461129,2023-05,2023Q2,2023
2023Q3,26336.304,3.700000,305.883079,5.250635,4.149683,82.250317,100.668538,67.241270,15.053016,2023-08,2023Q3,2023
2023Q4,26336.304,3.766667,308.043730,5.330000,4.452381,78.560317,100.836002,66.236508,15.325714,2023-10,2023Q4,2023
2024Q1,26336.304,3.865574,310.590410,5.330000,4.156393,77.503934,100.451067,75.240984,13.703770,2024-01,2024Q1,2024
2024Q2,29147.044,3.965079,313.096698,5.330000,4.448730,81.805714,100.646632,71.928571,14.029841,2024-04,2024Q2,2024
2024Q3,29511.664,4.200000,313.936781,5.330000,3.954687,76.427500,100.274425,67.384375,17.165469,2024-07,2024Q3,2024
2024Q4,29825.182,4.164062,316.130953,4.708281,4.272812,70.812500,99.356109,71.332813,17.417344,2024-10,2024Q4,2024
2025Q1,29825.182,4.200000,316.449000,4.640000,4.449833,71.783333,99.292500,71.800000,18.626333,2025-02,2025Q1,2025
2025Q2,30485.729,4.200000,320.492274,4.330000,4.361774,64.567258,101.020506,52.200000,23.632097,2025-04,2025Q2,2025
2025Q3,31095.089,4.265625,322.940500,4.330000,4.261094,65.779531,101.695366,59.403125,15.957500,2025-07,2025Q3,2025
2025Q4,31095.089,4.300000,323.364000,4.090000,4.099062,59.650156,101.616000,53.600000,17.743906,2025-10,2025Q4,2025

In [16]:
df_monthly.to_csv("data/processed/macro_monthly.csv")
df_qtrly.to_csv("data/processed/macro_quarterly.csv")

OSError: Cannot save file into a non-existent directory: 'data/processed'